In [4]:
import pandas as pd
df=pd.read_csv('TB_F100_SICOVID.csv', parse_dates=['fecha_prueba'], infer_datetime_format=True)
df

,id_persona,fecha_prueba,id_tipo_prueba,id_resultado_prueba,id_ubigeo_prueba
0,19263545,2020-04-24,1,1,78.0
1,16913713,2021-04-30,2,1,1293.0
2,33406926,2020-06-06,1,1,1317.0
3,31314482,2021-08-17,2,1,1055.0
4,19495195,2020-11-18,1,1,798.0
...,...,...,...,...,...
28130094,22423857,2021-10-01,2,1,1287.0
28130095,13817815,2021-09-07,2,1,704.0
28130096,8856198,2021-10-03,2,1,1291.0
28130097,9097661,2021-09-30,2,1,1317.0
28130098,21361164,2021-10-01,2,1,1312.0

In [3]:
# TIPOS DE PRUEBAS POR DIA
df_pruebas=df[['fecha_prueba','id_tipo_prueba','id_persona']].groupby(['fecha_prueba','id_tipo_prueba']).count()
df_pruebas=df_pruebas.reset_index()
df_pruebas=df_pruebas.pivot(index='fecha_prueba', columns='id_tipo_prueba', values='id_persona')
df_pruebas=df_pruebas.rename_axis(None, axis=1)
df_pruebas.columns=['Serológica','Antígena','Quimioluminiscencia']
df_pruebas=df_pruebas.fillna(0).astype('int')
df_pruebas

              Serológica  Antígena  Quimioluminiscencia
fecha_prueba
2020-03-15            68        10                    0
2020-03-16            38         1                    0
2020-03-17            32         1                    0
2020-03-18            36         0                    0
2020-03-19            38         0                    0
...                  ...       ...                  ...
2021-12-31           504     21851                    0
2022-01-01           140      7212                    0
2022-01-02          1459      8965                    0
2022-01-03          2277     34680                    0
2022-01-04            34     18545                    0

[661 rows x 3 columns]

In [4]:
# TIPOS DE PRUEBAS ACUMULADO
df_pruebas_cum=df_pruebas.cumsum()
df_pruebas_cum

              Serológica  Antígena  Quimioluminiscencia
fecha_prueba
2020-03-15            68        10                    0
2020-03-16           106        11                    0
2020-03-17           138        12                    0
2020-03-18           174        12                    0
2020-03-19           212        12                    0
...                  ...       ...                  ...
2021-12-31      17707418  10134854               214515
2022-01-01      17707558  10142066               214515
2022-01-02      17709017  10151031               214515
2022-01-03      17711294  10185711               214515
2022-01-04      17711328  10204256               214515

[661 rows x 3 columns]

In [8]:
# PRUEBAS RÁPIDAS RESULTADOS POR DIA
df_serologicas=df[df['id_tipo_prueba']==1].groupby(['fecha_prueba','id_resultado_prueba']).count()
df_serologicas=df_serologicas.reset_index()
df_serologicas=df_serologicas.pivot(index='fecha_prueba', columns='id_resultado_prueba', values='id_persona')
df_serologicas=df_serologicas.rename_axis(None, axis=1)
df_serologicas.columns=['Negativo','IgG Positivo','IgM e IgG Positivo','IgM Positivo']
df_serologicas=df_serologicas.fillna(0).astype('int')
df_serologicas

              Negativo  IgG Positivo  IgM e IgG Positivo  IgM Positivo
fecha_prueba
2020-03-15          59             2                   4             3
2020-03-16          36             1                   1             0
2020-03-17          28             2                   2             0
2020-03-18          32             0                   3             1
2020-03-19          34             0                   4             0
...                ...           ...                 ...           ...
2021-12-31         407             0                  97             0
2022-01-01         111             0                  29             0
2022-01-02        1183             0                 276             0
2022-01-03        1791             1                 485             0
2022-01-04          29             0                   5             0

[657 rows x 4 columns]

In [10]:
# PRUEBAS RÁPIDAS RESULTADOS ACUMULADO
df_serologicas_cum=df_serologicas.cumsum()
df_serologicas_cum

              Negativo  IgG Positivo  IgM e IgG Positivo  IgM Positivo
fecha_prueba
2020-03-15          59             2                   4             3
2020-03-16          95             3                   5             3
2020-03-17         123             5                   7             3
2020-03-18         155             5                  10             4
2020-03-19         189             5                  14             4
...                ...           ...                 ...           ...
2021-12-31    13051755       2459676             1746845        449142
2022-01-01    13051866       2459676             1746874        449142
2022-01-02    13053049       2459676             1747150        449142
2022-01-03    13054840       2459677             1747635        449142
2022-01-04    13054869       2459677             1747640        449142

[657 rows x 4 columns]

In [4]:
# PRUEBAS ANTIGENO RESULTADOS POR DIA
df_antigeno=df[df['id_tipo_prueba']==2].groupby(['fecha_prueba','id_resultado_prueba']).count()
df_antigeno=df_antigeno.reset_index()
df_antigeno=df_antigeno.pivot(index='fecha_prueba', columns='id_resultado_prueba', values='id_persona')
df_antigeno=df_antigeno.rename_axis(None, axis=1)
df_antigeno.columns=['Negativo','Positivo','IgM e IgG Positivo']
df_antigeno=df_antigeno.fillna(0).astype('int')
df_antigeno

              Negativo  Positivo  IgM e IgG Positivo
fecha_prueba
2020-03-15           6         4                   0
2020-03-16           1         0                   0
2020-03-17           1         0                   0
2020-03-21           1         0                   0
2020-03-25           2         1                   0
...                ...       ...                 ...
2021-12-31       19247      2602                   2
2022-01-01        6481       729                   2
2022-01-02        7767      1198                   0
2022-01-03       28465      6199                  16
2022-01-04       15201      3344                   0

[616 rows x 3 columns]

In [5]:
# PRUEBAS ANTIGENO RESULTADOS ACUMULADO
df_antigeno_cum=df_antigeno.cumsum()
df_antigeno_cum

              Negativo  Positivo  IgM e IgG Positivo
fecha_prueba
2020-03-15           6         4                   0
2020-03-16           7         4                   0
2020-03-17           8         4                   0
2020-03-21           9         4                   0
2020-03-25          11         5                   0
...                ...       ...                 ...
2021-12-31     9193801    939731                1322
2022-01-01     9200282    940460                1324
2022-01-02     9208049    941658                1324
2022-01-03     9236514    947857                1340
2022-01-04     9251715    951201                1340

[616 rows x 3 columns]

In [16]:
# TIPOS DE PRUEBAS POR UBIGEO
df_ubigeo=df[['id_ubigeo_prueba','id_tipo_prueba','id_persona']].groupby(['id_ubigeo_prueba','id_tipo_prueba']).count()
df_ubigeo=df_ubigeo.reset_index()
df_ubigeo=df_ubigeo.pivot(index='id_ubigeo_prueba', columns='id_tipo_prueba', values='id_persona')
df_ubigeo=df_ubigeo.rename_axis(None, axis=1)
df_ubigeo.columns=['Serológica','Antígena','Quimioluminiscencia']
df_ubigeo=df_ubigeo.fillna(0).astype('int')

# EQUIVALENTES DE ID UBIGEO
df_id_ubigeo = pd.read_csv('TB_UBIGEOS.csv', converters = {'ubigeo_inei': str})

df_ubigeo.index = df_ubigeo.index.map(df_id_ubigeo.set_index('id_ubigeo')['ubigeo_inei'])
df_ubigeo

                  Serológica  Antígena  Quimioluminiscencia
id_ubigeo_prueba
010101                 39265     13480                   59
010102                    77        13                    0
010103                   777       175                    0
010104                   259        33                    0
010105                   106        12                    0
...                      ...       ...                  ...
250305                   477       161                    1
250401                  2584       160                    0
050513                     3         2                    0
160109                   104        26                    0
160114                    20         4                    0

[1877 rows x 3 columns]

In [17]:
df_pruebas.to_csv('resultados/pruebas.csv')
df_pruebas_cum.to_csv('resultados/pruebas_acumulado.csv')
df_serologicas.to_csv('resultados/serologicas.csv')
df_serologicas_cum.to_csv('resultados/serologicas_acumulado.csv')
df_antigeno.to_csv('resultados/antigeno.csv')
df_antigeno_cum.to_csv('resultados/antigeno_acumulado.csv')
df_ubigeo.to_csv('resultados/pruebas_por_ubigeo.csv')